$media-mobile-max: 767px !default;
$media-desktop-min: 768px !default;

// Pretty, free fonts
$serif-font: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$sans-serif-font: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

// Widths
$homepage-width: 640px;
$main-width: 640px;

// Pretty retro - blue links with purple for visited
$link-normal: #48c;
$link-visited: #639;

// Unsemantic framework
@import "unsemantic/unsemantic-grid-responsive";

// Typeplate framework
@import "typeplate/typeplate";

// For code styling
@import "github";

body {
  margin: 0;
  padding: 35px 10px;
  font-family: $serif-font;
}

a {
  color: $link-normal;
  text-decoration: none;
  border-bottom: 1px dotted $link-normal;

  &:visited {
    color: $link-visited;
    border-bottom: 1px dotted $link-visited;
  }
}

h1,h2,h3,h4,h5,h6 {
  font-family: $sans-serif-font;
}

.table-data {
  font-size: 14px;
  width: 100%;
  border-collapse: collapse;

  td, th {
    padding: 3px;
    text-align: left;
    border: 1px solid #ddd;
  }
}

header {

  .byline {
    @extend small;
    padding-bottom: 16px;
    font-family: $sans-serif-font;
    color: #ddd;
    display: block;
    text-transform: uppercase;

    a, a:visited {
      text-decoration: none;
      color: #ddd;
      border-bottom: 1px dotted #ddd;
    }

    a:hover {
      color: #555;
    }
  }
}

.homepage {
  @extend .grid-container;
  padding: 35px 0;
  background-color: #fff;
  max-width: $homepage-width;

  header {
    @extend .grid-100;
  }

  nav {
    @extend .grid-100;
    @extend small;
    margin-bottom: 20px;
  }

  .main {
    @extend .grid-100;

    h2 {
      @extend .delta;
    }
  }
}

.weblog, .layout {
  @extend .grid-container;

  background-color: #fff;
  max-width: $main-width;

  header, section {
    @extend .grid-100;
  }

  section.content {
    @extend .grid-parent;
  }
}

.content {
  @extend .grid-100;
}

.weblog-latest {

  h2 {
    @extend .delta;
  }

  ul { 
    padding: 0;
    list-style: none;

    h3 {
      @extend .delta;
      margin-bottom: 5px;
    }

    time {
      @extend small;
      font-weight: normal;
      color: #bbb;
    }
  }
}

section.info {
  @extend .grid-100;

  p {
    font-style: italic;
    color: #aaa;
  }
}