<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Stephen Mizell</title>
    <meta name="description" content="Stephen Mizell, smizell">
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag "main" %>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <%= javascript_include_tag  "all" %>

    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700,400italic|Open+Sans:700,400" />
  </head>
  <body>
    <!--[if lt IE 10]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="homepage" itemscope itemtype="http://schema.org/Person">
      <header>
        <h1 itemprop="name">Stephen Mizell</h1>
      </header>

      <section class="info">
        <p itemprop="description">Christian, Husband, Father, Analyst, Programmer, Bearded</p>
      </section>

      <nav>
        Navigation:
        <a href="/about.html">About me</a> &bull;
        <a href="/posts.html">Posts</a> &bull;
        <a href="/feed.xml" type="application/atom+xml">Atom Feed</a>
      </nav>

      <%= yield %>
    </div>
</body>
</html>