<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Stephen Mizell</title>
    <meta name="description" content="Stephen Mizell, smizell">
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag "main" %>

    <!--
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      <%= javascript_include_tag  "all" %>
    -->

    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700,400italic" />
  </head>
  <body>
    <!--[if lt IE 10]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="layout">
      
      <header>
        <span class="byline">
          <a href="/" rel="home">Stephen Mizell</a>
        </span>
        <h1><%= current_page.data.title %></h1>
      </header>

      <section>
        <%= yield %>
      </section>
    </div>
</body>
</html>