/* line 1, /Users/smizell/Sandbox2/smizell.com/source/stylesheets/github.scss */
.highlight {
  background-color: #eeeeee; }

/* line 2, /Users/smizell/Sandbox2/smizell.com/source/stylesheets/github.scss */
.c {
  color: #999988;
  font-style: italic; }

/* Comment */
/* line 3, /Users/smizell/Sandbox2/smizell.com/source/stylesheets/github.scss */
.err {
  color: #a61717;
  background-color: #e3d2d2; }

/* Error */
/* line 4, /Users/smizell/Sandbox2/smizell.com/source/stylesheets/github.scss */
.k {
  color: #000000;
  font-weight: bold; }

/* Keyword */
/* line 5, /Users/smizell/Sandbox2/smizell.com/source/stylesheets/github.scss */
.o {
  color: #000000;
  font-weight: bold; }

/* Operator */
/* line 6, /Users/smizell/Sandbox2/smizell.com/source/stylesheets/github.scss */
.cm {
  color: #999988;
  font-style: italic; }

/* Comment.Multiline */
/* line 7, /Users/smizell/Sandbox2/smizell.com/source/stylesheets/github.scss */
.cp {
  color: #999999;
  font-weight: bold;
  font-style: italic; }

/* Comment.Preproc */
/* line 8, /Users/smizell/Sandbox2/smizell.com/source/stylesheets/github.scss */
.c1 {
  color: #999988;
  font-style: italic; }

/* Comment.Single */
/* line 9, /Users/smizell/Sandbox2/smizell.com/source/stylesheets/github.scss */
.cs {
  color: #999999;
  font-weight: bold;
  font-style: italic; }

/* Comment.Special */
/* line 10, /Users/smizell/Sandbox2/smizell.com/source/stylesheets/github.scss */
.gd {
  color: #000000;
  background-color: #ffdddd; }

/* Generic.Deleted */
/* line 11, /Users/smizell/Sandbox2/smizell.com/source/stylesheets/github.scss */
.ge {
  color: #000000;
  font-style: italic; }

/* Generic.Emph */
/* line 12, /Users/smizell/Sandbox2/smizell.com/source/stylesheets/github.scss */
.gr {
  color: #aa0000; }

/* Generic.Error */
/* line 13, /Users/smizell/Sandbox2/smizell.com/source/stylesheets/github.scss */
.gh {
  color: #999999; }

/* Generic.Heading */
/* line 14, /Users/smizell/Sandbox2/smizell.com/source/stylesheets/github.scss */
.gi {
  color: #000000;
  background-color: #ddffdd; }

/* Generic.Inserted */
/* line 15, /Users/smizell/Sandbox2/smizell.com/source/stylesheets/github.scss */
.go {
  color: #888888; }

/* Generic.Output */
/* line 16, /Users/smizell/Sandbox2/smizell.com/source/stylesheets/github.scss */
.gp {
  color: #555555; }

/* Generic.Prompt */
/* line 17, /Users/smizell/Sandbox2/smizell.com/source/stylesheets/github.scss */
.gs {
  font-weight: bold; }

/* Generic.Strong */
/* line 18, /Users/smizell/Sandbox2/smizell.com/source/stylesheets/github.scss */
.gu {
  color: #aaaaaa; }

/* Generic.Subheading */
/* line 19, /Users/smizell/Sandbox2/smizell.com/source/stylesheets/github.scss */
.gt {
  color: #aa0000; }

/* Generic.Traceback */
/* line 20, /Users/smizell/Sandbox2/smizell.com/source/stylesheets/github.scss */
.kc {
  color: #000000;
  font-weight: bold; }

/* Keyword.Constant */
/* line 21, /Users/smizell/Sandbox2/smizell.com/source/stylesheets/github.scss */
.kd {
  color: #000000;
  font-weight: bold; }

/* Keyword.Declaration */
/* line 22, /Users/smizell/Sandbox2/smizell.com/source/stylesheets/github.scss */
.kn {
  color: #000000;
  font-weight: bold; }

/* Keyword.Namespace */
/* line 23, /Users/smizell/Sandbox2/smizell.com/source/stylesheets/github.scss */
.kp {
  color: #000000;
  font-weight: bold; }

/* Keyword.Pseudo */
/* line 24, /Users/smizell/Sandbox2/smizell.com/source/stylesheets/github.scss */
.kr {
  color: #000000;
  font-weight: bold; }

/* Keyword.Reserved */
/* line 25, /Users/smizell/Sandbox2/smizell.com/source/stylesheets/github.scss */
.kt {
  color: #445588;
  font-weight: bold; }

/* Keyword.Type */
/* line 26, /Users/smizell/Sandbox2/smizell.com/source/stylesheets/github.scss */
.m {
  color: #009999; }

/* Literal.Number */
/* line 27, /Users/smizell/Sandbox2/smizell.com/source/stylesheets/github.scss */
.s {
  color: #d01040; }

/* Literal.String */
/* line 28, /Users/smizell/Sandbox2/smizell.com/source/stylesheets/github.scss */
.na {
  color: teal; }

/* Name.Attribute */
/* line 29, /Users/smizell/Sandbox2/smizell.com/source/stylesheets/github.scss */
.nb {
  color: #0086b3; }

/* Name.Builtin */
/* line 30, /Users/smizell/Sandbox2/smizell.com/source/stylesheets/github.scss */
.nc {
  color: #445588;
  font-weight: bold; }

/* Name.Class */
/* line 31, /Users/smizell/Sandbox2/smizell.com/source/stylesheets/github.scss */
.no {
  color: teal; }

/* Name.Constant */
/* line 32, /Users/smizell/Sandbox2/smizell.com/source/stylesheets/github.scss */
.nd {
  color: #3c5d5d;
  font-weight: bold; }

/* Name.Decorator */
/* line 33, /Users/smizell/Sandbox2/smizell.com/source/stylesheets/github.scss */
.ni {
  color: purple; }

/* Name.Entity */
/* line 34, /Users/smizell/Sandbox2/smizell.com/source/stylesheets/github.scss */
.ne {
  color: #990000;
  font-weight: bold; }

/* Name.Exception */
/* line 35, /Users/smizell/Sandbox2/smizell.com/source/stylesheets/github.scss */
.nf {
  color: #990000;
  font-weight: bold; }

/* Name.Function */
/* line 36, /Users/smizell/Sandbox2/smizell.com/source/stylesheets/github.scss */
.nl {
  color: #990000;
  font-weight: bold; }

/* Name.Label */
/* line 37, /Users/smizell/Sandbox2/smizell.com/source/stylesheets/github.scss */
.nn {
  color: #555555; }

/* Name.Namespace */
/* line 38, /Users/smizell/Sandbox2/smizell.com/source/stylesheets/github.scss */
.nt {
  color: navy; }

/* Name.Tag */
/* line 39, /Users/smizell/Sandbox2/smizell.com/source/stylesheets/github.scss */
.nv {
  color: teal; }

/* Name.Variable */
/* line 40, /Users/smizell/Sandbox2/smizell.com/source/stylesheets/github.scss */
.ow {
  color: #000000;
  font-weight: bold; }

/* Operator.Word */
/* line 41, /Users/smizell/Sandbox2/smizell.com/source/stylesheets/github.scss */
.w {
  color: #bbbbbb; }

/* Text.Whitespace */
/* line 42, /Users/smizell/Sandbox2/smizell.com/source/stylesheets/github.scss */
.mf {
  color: #009999; }

/* Literal.Number.Float */
/* line 43, /Users/smizell/Sandbox2/smizell.com/source/stylesheets/github.scss */
.mh {
  color: #009999; }

/* Literal.Number.Hex */
/* line 44, /Users/smizell/Sandbox2/smizell.com/source/stylesheets/github.scss */
.mi {
  color: #009999; }

/* Literal.Number.Integer */
/* line 45, /Users/smizell/Sandbox2/smizell.com/source/stylesheets/github.scss */
.mo {
  color: #009999; }

/* Literal.Number.Oct */
/* line 46, /Users/smizell/Sandbox2/smizell.com/source/stylesheets/github.scss */
.sb {
  color: #d01040; }

/* Literal.String.Backtick */
/* line 47, /Users/smizell/Sandbox2/smizell.com/source/stylesheets/github.scss */
.sc {
  color: #d01040; }

/* Literal.String.Char */
/* line 48, /Users/smizell/Sandbox2/smizell.com/source/stylesheets/github.scss */
.sd {
  color: #d01040; }

/* Literal.String.Doc */
/* line 49, /Users/smizell/Sandbox2/smizell.com/source/stylesheets/github.scss */
.s2 {
  color: #d01040; }

/* Literal.String.Double */
/* line 50, /Users/smizell/Sandbox2/smizell.com/source/stylesheets/github.scss */
.se {
  color: #d01040; }

/* Literal.String.Escape */
/* line 51, /Users/smizell/Sandbox2/smizell.com/source/stylesheets/github.scss */
.sh {
  color: #d01040; }

/* Literal.String.Heredoc */
/* line 52, /Users/smizell/Sandbox2/smizell.com/source/stylesheets/github.scss */
.si {
  color: #d01040; }

/* Literal.String.Interpol */
/* line 53, /Users/smizell/Sandbox2/smizell.com/source/stylesheets/github.scss */
.sx {
  color: #d01040; }

/* Literal.String.Other */
/* line 54, /Users/smizell/Sandbox2/smizell.com/source/stylesheets/github.scss */
.sr {
  color: #009926; }

/* Literal.String.Regex */
/* line 55, /Users/smizell/Sandbox2/smizell.com/source/stylesheets/github.scss */
.s1 {
  color: #d01040; }

/* Literal.String.Single */
/* line 56, /Users/smizell/Sandbox2/smizell.com/source/stylesheets/github.scss */
.ss {
  color: #990073; }

/* Literal.String.Symbol */
/* line 57, /Users/smizell/Sandbox2/smizell.com/source/stylesheets/github.scss */
.bp {
  color: #999999; }

/* Name.Builtin.Pseudo */
/* line 58, /Users/smizell/Sandbox2/smizell.com/source/stylesheets/github.scss */
.vc {
  color: teal; }

/* Name.Variable.Class */
/* line 59, /Users/smizell/Sandbox2/smizell.com/source/stylesheets/github.scss */
.vg {
  color: teal; }

/* Name.Variable.Global */
/* line 60, /Users/smizell/Sandbox2/smizell.com/source/stylesheets/github.scss */
.vi {
  color: teal; }

/* Name.Variable.Instance */
/* line 61, /Users/smizell/Sandbox2/smizell.com/source/stylesheets/github.scss */
.il {
  color: #009999; }

/* Literal.Number.Integer.Long */
/* line 62, /Users/smizell/Sandbox2/smizell.com/source/stylesheets/github.scss */
.gutter {
  text-align: right; }

/* line 64, /Users/smizell/Sandbox2/smizell.com/source/stylesheets/github.scss */
pre {
  border: solid 1px #ddd;
  background: #fff;
  padding: 0;
  line-height: 23px;
  margin-bottom: 30px;
  white-space: pre;
  overflow-x: auto;
  word-break: inherit;
  word-wrap: inherit; }
  /* line 75, /Users/smizell/Sandbox2/smizell.com/source/stylesheets/github.scss */
  pre table {
    border-spacing: 0; }

/* line 80, /Users/smizell/Sandbox2/smizell.com/source/stylesheets/github.scss */
.highlight td {
  padding: 8px 15px; }

/* line 84, /Users/smizell/Sandbox2/smizell.com/source/stylesheets/github.scss */
.gl {
  background: #fafafa;
  border-right: 1px solid #ddd;
  color: #999;
  /* Stop line numbers being visually selected */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
